html {
  font-size: 100%;
}

body {
    margin-top: 40px;
    margin-bottom: 80px;
    background-color:white;
    font: 16px/1.4 Helvetica, Arial, sans-serif;
}


.container {
    max-width:1050px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.7;
  padding: 0;
}

h1 {font-size: 24px;}
h2 {font-size: 20px;}


/* BIO */

.bio {
    margin-bottom: 40px;
    text-align: justify;
}

.bio img {
    width: 100%;
    padding: 4px;
    max-width: 400px;
}

.bio .avatar {
    text-align: center;
}



/* PUBS */
.publications{
  align-items: center;
}

.publications .title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.1em;
}

.publications .authors {
  font-style: italic;
  margin-bottom: 0.0em;
  margin-top: 0px;
  font-size: 11pt;
}

.publications .conf {
  font-size: 11pt;
  margin-bottom: 1em;
  margin-top: 0px;
  color: #888;
}

.publications .description {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: justify;
}

.publications img {
    width: 100%;
}

ul {
    margin-right: 10px;
}
